requests
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth
google-auth-httplib2
tweepy
urllib3
edge-tts
vosk
Pillow
moviepy==1.0.3
vk_api
numpy
imageio
imageio-ffmpeg
decorator
proglog
tqdm
opencv-python
